@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family:'Yomogi', cursive;;
}

/*Background gradient*/

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*Main Container*/

.main-container{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Card Container*/

.container{
    height:500px;
    width: 800px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.15px );
    -webkit-backdrop-filter: blur( 0.15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container h2,p{
    text-align: center;
    margin: 15px;
}

.container h2{
    font-size: 45px;
}

.container p{
    font-size: 20px;
}

.container button{
    margin-left: 43%;
    margin-top: 40px;
}

button{
    color:black;
    height:75px;
    width: 125px;
    border-radius: 15px;
}

.text-area{
    margin-top: 40px;
    text-align: center;
    font-size: 45px;
}

/*Footer*/

.footer{
    text-align: center;
    margin: 30px;
    font-size: 30px;
}

.footer h4 , h4 a{
    text-decoration: none;
    color:black;
}

/*Button*/

.glass-btn {

    display: inline-block;
    padding: 12px 7px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(26, 25, 25, 0.8);
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .glass-btn:hover {
    background-color: rgba(255,255,255,0.2);
  }
  

/*Media queries*/

@media only screen and (max-width: 600px) {

    .container{
        height: 75%;
        width: 85%;
    }

    .footer{
        margin:15px;
    }

    .container button{
        margin-left: 37%;
    }

    .text-area{
        font-size: 35px;
    }
}   
